[2018-07-17 16:56] april opened #1 "List unsupported extensions"
We should probably display something about unsupported extensions, instead of just not showing them at all.

[2018-07-17 21:20] april commented on #1
Fixed in 85cc4a7.

[2018-07-17 21:20] #1 closed

[2018-07-20 18:47] april opened #2 "Support extension OID 1.3.6.1.4.1.311.21.7"
https://censys.io/certificates?q=parsed.unknown_extensions.id%3A+1.3.6.1.4.1.311.21.7

[2018-07-20 18:47] april opened #3 "Support extension OID 1.3.6.1.4.1.311.21.10"

[2018-07-20 21:28] april opened #4 "Support "uploading" a cert chain"
Have a spot in the interface where people could "upload" a cert and view it.

[2018-07-20 21:54] april opened #5 "Only refresh current page if not AMO"
Currently on install it refreshes the page. It should probably not do that if the domain is AMO.

[2018-07-21 09:13] Madis0 opened #6 "Fit to a popup"
The extension could compact the interface a bit to make it fit to a popup, opening a new tab with left-aligned text isn't very easy to read on a big monitor.

For example:

- collapse Extensions by default
- remove gray striped headers if they have only one value (e.g remove "Authority Key ID" if there is one "Key ID")

[2018-07-21 09:20] Madis0 opened #7 "Explain 3 tabs"
Could you please elaborate, what is the usefulness of the 3 tabs. From what I understand:

1. The certificate for the site (same info the built-in page info displays, that makes sense)
2. The certificate for the CA (for verifying if the CA is not compromised?)
3. The root certificate (for verifying if the root is not hijacked by computer malware?)

[2018-07-21 10:04] rugk commented on #7
I guess this add-on is not about verifying anything (you can hardly do anyway). It's just giving you some information. The tabs show all certificates used - root, intermediate and leaf.

[2018-07-22 13:34] april commented on #7
It's displaying the entire certificate chain (as @rugk said), which the browser used to verify the leaf (end-entity) certificate.

Every browser shows the entire chain in its certificate viewer, including Firefox.

[2018-07-22 13:34] #7 closed

[2018-07-22 13:36] april commented on #6
Popups have a lot of shortcomings, namely that they're not persistent and they can only be so high, which leads to a lot of scrolling. I may explore other ways of displaying things (such as a sidebar) someday, but there's generally too much information to fit nicely into a popup.

Thank you for the feedback! I am definitely exploring other display options.

[2018-07-22 13:36] #6 closed

[2018-07-22 22:43] hardfalcon opened #8 "RFE: Show whether extensions are marked as "critical" or not"
If would be nice if the UI showed whether an extension is marked as "critical" or not.

[2018-07-22 22:54] hardfalcon opened #9 "RFE: Possibility for grading quality of TLS connection"
[SSLeuth](https://addons.mozilla.org/firefox/addon/ssleuth/) offered a simple grading of the TLS connections quality, based upon factors like "strength of the symmetric encryption", "strength of the key exchange", "strength of the MAC/AEAD", "forward secrecy", "extended validation", "certificate status", etc, where the wheight for every single factor could be [configured](https://addons.cdn.mozill

[2018-07-23 14:40] ziegeer opened #10 "Support extension OID 1.3.6.1.5.5.7.1.12"

[2018-07-23 19:14] april commented on #10
Do you have a site I can test against? Censys doesn't, afaik, let you search by arbitrary extension OIDs.

Thanks!

[2018-07-23 19:28] glawrence opened #11 "Enhance the Issuer section to allow clicking through to issuing certificate tab"
The tabs show the site, the intermediates and the root certificates. However it would be nice if there was a hyperlink (preferably highlighted, to stand out) on the certificate that when clicked, switched to the tab with the details of the issuing certificate. This would make navigation easier and more natural.

The trusted roots will need handling differently but it would be nice if it highlighte

[2018-07-23 19:44] ziegeer commented on #10
Yep: amfam.com

[2018-07-23 22:46] april commented on #9
This is a pretty big undertaking, and might be better as a separate project.

I would say about 80% or so of what SSLeuth looks at is possible with the new API. Is it still relevant when services like [SSL Labs](https://www.ssllabs.com/ssltest/) will provide a much more in-depth analysis?

[2018-07-23 22:47] april commented on #10
I honestly didn't even know this was possible. That's crazy to waste all that bandwidth during the TLS negotiation!

[2018-07-24 07:02] rugk commented on #9
My main use case for SSLeuth was to quickly see if a connection was not the best. I just cannot and do not scan each site I visit with SSLLabs.
So, SSLeuth shows you:
* info for each site I visit, directly in the URL bar, i.e. it's much faster
* the garding of the *current connection*, not a general assesment
* you may adjust your behavior/not visit the site, if the grading is too bad

[2018-07-24 07:03] rugk commented on #10
Is there any plain text description in English for what "1.3.6.1.5.5.7.1.12" is?? 😆

[2018-07-24 08:02] glawrence opened #12 "Open "Certificate Viewer" tab to the right of current tab"
At the moment when Certificate Viewer opens a new tab to show all the certificate information it adds a tab on the end, far right. I work with lots of tabs open, so I would like it to work like "View Page Source" and open a new tab to the immediate right of the current page, so it is closer and easier to find

[2018-07-24 18:30] april commented on #10
It basically allows people to add unviewable icons to their certs.  :)

[2018-07-24 18:41] rugk commented on #10
Wtf… 😮

[2018-07-24 18:41] rugk commented on #10
Well… you could make them visible, at least :laughing:

[2018-07-25 07:56] hardfalcon commented on #9
@april: Exactly what @rugk said/wrote.

[2018-07-25 08:12] hardfalcon commented on #12
You could set the "browser.tabs.insertAfterCurrent" preference to true in about:config - this would affect all new tabs, and not just certainly-something.

browser.tabs.create() also does accept an index parameter, but sticking to the (user configurable) default behavior seems more reasonable to me.

[2018-07-25 14:40] rugk commented on #12
I don't agree. As this one argument by @glawrence is really convincing:

As this add-on also similarly shows information/data about the current site, I'd say it is reasonable if it behaves the same.

[2018-07-25 19:58] april commented on #12
I think this is a reasonable ask. I'll try to get it in the next version.

When I'm developing, I only test with a few open tabs so I don't usually notice it that much.  :)

[2018-07-25 20:01] april commented on #10
Huh, oddly enough I can't seem to get it to send me a cert that includes this extension anymore. It's really hard to test without it.

[2018-07-26 03:13] april commented on #10
Today I discovered this:

https://censys.io/certificates?q=parsed.unknown_extensions.id%3A+1.3.6.1.5.5.7.1.12

That will make this all a lot easier!

[2018-07-26 04:15] april commented on #5
This was fixed in version 1.0.1.  :)

[2018-07-26 04:15] #5 closed

[2018-07-26 06:56] glawrence commented on #12
Nice thinking @hardfalcon I had forgotten that option, good call.

Thank for your support @rugk I am a fan of consistency and I think an addon/extension/plugin should be just that and feel part of the application

@april clearly this is not a high priority issue but thank you for taking the suggestion on board, although I should really do a pull request as I reckon I could do this myself....

[2018-07-26 15:51] #12 closed

[2018-07-26 16:08] april commented on #10
Examining the Censys data, it seems that certs with logoTypes haven't really been issued since 2012 and they all basically expire by August of this year. Since they're so rare and nearly impossible to find in the real world, I'm going to WONTFIX this one.

Thanks for opening it up, @ziegeer.

[2018-07-26 16:08] #10 closed

[2018-07-26 16:10] april commented on #8
I actually have this code sort of in there already, but I'm struggling to find a good way to represent it that doesn't take up a ton of space.

I don't know how much people typically care about critical sections. That said, I feel like I should probably find a way to show it given that most browsers show it.

[2018-07-26 17:20] april commented on #12
BTW the fix for this has been pushed on AMO in version 1.0.2.

[2018-07-26 18:36] hardfalcon commented on #8
Perhaps put a "stop sign" emoji next to it, and give that emoji a tooltip that say "Critical"?
https://emojipedia.org/octagonal-sign/

[2018-07-27 05:39] glawrence commented on #12
I have updated and it works, that is brilliant, thank you very much @april

[2018-07-31 21:33] BenBE opened #13 "Display check results for CRL/OCSP checks"
It would be nice if CRL/OCSP information were supplemented with a small note telling if the certificate status could be checked against those sources.

In your second example screenshot both the CRL Distribution Endpoint as well as the Authority Info Access sections would be nice to include this revocation info inline.

[2018-07-31 21:35] BenBE opened #14 "Link SCTs to appropriate online source"
When displaying SCT information it would be nice to have some link e.g. to crt.sh or alike, pointing to the accompanying online entry in CT logs describing this certificate/SCT.

[2018-07-31 21:37] BenBE opened #15 "Display SCT accounting stats"
When displaying the SCT information a small note, whether this SCT was counted towards the SCT requirements or not would be useful (maybe with information detailing why or why not it was treated in a particular way).

[2018-08-01 22:01] april commented on #15
I don't know if I have any obvious way to tell that from what the browser passes me. And different CAs have different requirements.

Or am I not understanding?

[2018-08-01 22:02] april commented on #14
The trick with this is that I'm not entirely sure what the best place to link to is. crt.sh can be a bit rough at times.

[2018-08-01 22:04] april commented on #13
I'll revisit this once I can access the certificate information when the TLS stack is in a broken state. If a certificate was revoked, it currently doesn't let me get access to the info.

See: https://bugzilla.mozilla.org/show_bug.cgi?id=1474657

[2018-08-01 22:06] #8 closed

[2018-08-03 13:12] rugk opened #16 "Tabs require reload"
…if you do install the add-on without reloading the tabs, the cert tab it opens, directly closes itself afterwards.

STR:
1. Install add-on.
2. Switch to tab.
3. Click cert icon.

What happens:
New tab opens and closes.

What should happen:
Either show an error, or work around the problem, if possible.

Firefox 63.0a1 (2018-08-03) (64-bit)

[2018-08-06 18:59] april commented on #16
This is actually a much more difficult problem than it appears to be. A lot of people would be absolutely pissed if I force reloaded the tab in order to get the information from the browser.

I could probably open an error page instead?

[2018-08-06 19:01] rugk commented on #16
AFAIK you cannot get it afterwards, because you need the load information.

Yes, an error would be fine.
Maybe, if you can, just as a popup with a "reload [website]" button. (Added "website" to make sure it is obvious it reloads the website, not the popup or so.)

[2018-08-14 22:17] #16 closed

[2018-08-15 15:51] april commented on #16
I pushed this to the published add-on - is everything working okay for you?

[2018-08-15 16:18] rugk commented on #16
Unless this is expected, no:

![certsomet](https://user-images.githubusercontent.com/11966684/44159405-8ffd4680-a0b7-11e8-9c89-8af92ba4c9f3.gif)

[2018-08-15 20:51] rugk opened #17 "Id??"
https://github.com/april/certainly-something/blob/ab5577ea3ac5c29d1393227a95cc990f9e5532c6/src/manifest.json#L21

Are we supposed to brute-force that? :open_mouth:

[2018-08-15 21:26] april commented on #17
It's a string that has been piped to sha256.

If you can figure out what it was, I'll buy you a box of donuts.  :)

[2018-08-15 21:26] #17 closed

[2018-08-15 21:54] rugk commented on #17
I would bet you used a salt and made brute-forcing impossible… :laughing:

[2018-08-15 21:56] rugk commented on #16
Debug console error message is:

[2018-08-15 21:57] april commented on #16
Yeah I'm trying to figure out what's going on.  :(

[2018-08-15 22:14] april commented on #16
Okay, try updating now (version 1.0.8) and tell me if things are working a bit better for you.

[2018-08-16 13:45] april commented on #16
That's... very strange. Uhh. I'm not having this problem on any of my machines. Does it still happen if you restart Nightly?

[2018-08-16 18:34] april commented on #16
I've asked other people who use it and they don't have any issues either.  :(

[2018-08-16 19:08] rugk commented on #16
Okay, yes, also works here right now. Anyway, as for this issue, the issue stays the same. It does not do anything when tab is not reloaded.

[2018-08-21 10:20] franziskuskiefer opened #18 "TLS 1.0 is displayed as TLS 1"
This isn't really wrong but looks weird.

![image](https://user-images.githubusercontent.com/890105/44396242-93bc1d80-a53c-11e8-8003-5e827498dc07.png)

[2018-08-22 17:59] april commented on #18
Gah. I'll fix that up soon.

[2018-08-22 18:21] #18 closed, assigned to nobody

[2018-09-06 18:18] alexandrul opened #19 "Support extension 1.3.6.1.4.1.311.20.2"
It's used for our internal organization certificates.

It's also mentioned here: https://support.microsoft.com/en-us/help/287547/object-ids-associated-with-microsoft-cryptography

[2018-09-07 16:33] april commented on #19
For my reference:

https://censys.io/certificates?q=parsed.unknown_extensions.id%3A+1.3.6.1.4.1.311.20.2
https://backup.hs-bremerhaven.de/

[2018-09-11 16:09] sahsanu opened #20 "Doesn't work on sites using discourse software"
Hi,

I'm testing this extension and I tried it on a couple of sites using discourse software like https://meta.discourse.org/ and https://community.letsencrypt.org/ but the extension doesn't work, it only shows a blue banner saying "Please refresh the page and try again.".

I tested it with certainly something 1.1.0, Firefox 62 and on Windows 7, Windows 10 and KDE Neon (Ubuntu 16.04).

Don't know

[2018-09-11 16:11] rugk commented on #20
So does it only happen on Discourse sites? (Note: I cannot reproduce this.)

[2018-09-11 16:47] hardfalcon commented on #20
I was able to reproduce this several times on community.letsencrypt.com until I allowed XHR requests to status.io and generic requests to discourse-cdn-sjc1.com in uMatrix.

I've been unable to reproduce this since, even removing the added permissions in uMatrix, closing all tabs and clearing out the browser cache didn't bring the error message back - so I'm not sure if this was related or just a

[2018-09-12 20:50] april commented on #20
Hmm, I can't seem to reproduce this issue at all either. It works on both sites I've tried. Do you have any other extensions installed that might interfere with things?

If you can figure out how to make this error happen when starting with a blank profile, that would be hugely helpful for my reproduction.

[2018-09-12 21:32] sahsanu commented on #20
You are right, seems there is some issue with other extensions I'm using.

I've created a new and clean profile and only installed "certainly something" extension and it works pretty fine in all the sites I've tested. If I install [Quick Dial extension](https://addons.mozilla.org/en-US/firefox/addon/quick-dial/) I get the blue banner on discourse sites. I've also created a new and clean profile, i

[2018-09-12 21:37] april commented on #20
And the blue banner persists even if you do a hard refresh of the page?

[2018-09-12 21:40] april commented on #20
(btw I really appreciate your help on this!)

[2018-09-12 22:12] sahsanu commented on #20
If I refresh the site using F5 to refresh the site the blue banner persists, If I use Ctrl + Shift + r to refresh the site the extension works as expected showing the right cert info.

[2018-09-30 20:50] BenBE commented on #15
With the SCT accounting I mean the number of SCTs from "qualified logs" counted towards the "sufficiently logged" criteria. For embedded SCTs this should be possible to determine from the certificate itself; probably harder if SCTs are passed through OCSP stapling or in the TLS handshake.

[2018-10-20 11:32] kinglike1337 opened #21 "Click on address bar icon opens an empty tab"
The addon does not seems to work in my firefox installation.
After the click on the address bar addon icon, a new tab opens but stays empty.

URL for new tab:
moz-extension://b62c6b91-8a2e-423a-8708-d6265879c617/viewer/index.html?tid=11

In the browser console the following error is logged:
TypeError: (new Date(...)).toString(...).match(...) is null
index.js:1:133990

Tested on github, amazon and

[2018-10-20 11:47] kinglike1337 commented on #21
The error maybe triggered by this line of code:
https://github.com/april/certainly-something/blob/25a51708a0671057b4eefb9186a5281d9d097762/src/viewer/js/der.js#L74

"new Date().toString()" evaluates to "Sat Oct 20 2018 13:42:23 GMT+0200" (german timezone).

[2018-10-20 13:49] rugk commented on #14
I'd say https://crt.sh/ is fine. I mean what do you mean by "rough"? Some downtime? IMHO that's okay and not a big argument against linking to crt.sh. If they are down, you can hardly do anything and I would encounter the same if I search there manually.

Otherwise let the user adjust this in the settings or provide multiple links.

[2018-10-21 14:15] april commented on #21
Awesome, thanks! I'll work on this next week. Sorry that things are broken for you, but I really appreciate you filing the bug.  :)

[2018-10-21 14:17] april opened #22 "Doesn't work with certs using IP addresses"
A good example is CloudFlare's DNS server, at:

https://1.1.1.1/

[2018-10-22 18:02] #21 closed

[2018-10-22 21:51] #22 closed

[2018-10-22 22:06] april commented on #21
Hey, @kinglike1337? I just published version 1.1.1 today on AMO. Could you let me know if that fixes the bug for you?

Thanks again so very much!

[2018-10-23 16:14] kinglike1337 commented on #21
The addon now works as desired. Finally a good replacement for SSLeuth.
Thank you very much for your efforts and the quick fix.

[2018-10-23 16:24] april commented on #21
Wonderful! That is great to hear! Thanks again for the bug report.  :)

Over time, I'd like to have more SSLeuth type information in the extension, but it may be a little while. There is a bug for it, however, if you'd like to follow it:

https://github.com/april/certainly-something/issues/9

[2018-11-16 20:41] unit309 commented on #20
Can't reproduce this on Fennec 63.0.

[2018-11-16 21:18] unit309 opened #23 "Manual certificate pinning"
This is feature request.

Is it possible to add option to manually pin certificate(s) for particular domain?
AFAIK this functionality is totally missed on Firefox both on PC and on mobile platforms.

Long ago, in pre-Quantum era, there was XUL-based [Certificate Patrol](https://addons.mozilla.org/firefox/addon/certificate-patrol) addon...

For now, the only browser/plugin with such feature I found

[2018-11-17 01:45] hardfalcon commented on #23
Sadly, specifying/implementing such an API for web extensions [was rejected](https://groups.google.com/forum/m/#!topic/mozilla.dev.security.policy/yyzRatMijpE) (for no good reason IMHO, but that's off-topic for the scope of this feature request) by the people in charge at Mozilla.

[2018-11-17 03:29] unit309 commented on #23
@hardfalcon, thanks for that link..

So, it's possible to read all certificate information.
But API doesn't allows an extension to "change or ignore the normal results of certificate validation".

But maybe it's still possible to _notify_ user with popup/red icon/etc, if pinned cert(s) is missing?
Like, 'there is something going on; do you mind to look closer?'

[2018-11-17 06:09] hardfalcon commented on #23
Theoretically, it *might* even be possible to write an extension that blocks connections to servers based on certificate information, but that would require really nasty hacks, be very slow, and still wouldn't be very reliable.

Since it is possible to hook into the outgoing HTTP(S) requests (which is used for addons like umatrix or ad blockers), you could probably write a web extension that holds

[2018-11-17 22:24] unit309 commented on #23
Sorry, just noticed word 'demo' in description...

Ok, just let me try to get attention of (former) Certificate Patrol authors: @tg-x, @20after4

[2018-12-04 19:47] april commented on #23
By the time that WebExtensions can read the certificate information, the connection has already been made. Unless I can get this information before `onHeadersReceived`, I wouldn't be able to terminate the connection at the appropriate time.

I could certainly notify in some way, but I can't stop a bad connection from happening.

[2018-12-12 06:19] Riajyuu opened #24 "Use PageAction dropdown instead of new tab on desktop"
you can use window.navigator property to determine whether it is on desktop right now.

[2018-12-12 10:15] rugk commented on #24
So is this a dupe of https://github.com/april/certainly-something/issues/6?

[2018-12-12 15:02] myfreeweb commented on #4
I accidentally discovered [this addon](https://addons.mozilla.org/en-US/firefox/addon/certificate-viewer-for-humans/) — interesting idea, right click on certificate text to view.

[2018-12-14 13:10] rugk commented on #24
What exactly do you mean by "PageAction dropdown"? Can you show a screenshot or mockup?
The "button behaviour" for opening in a new tab is already there, as you can obviously see…

[2018-12-25 18:48] tg-x commented on #23
Manual pinning of certificates (or a CA in the hierarchy) could be possibly interesting,
however the trust-on-first-use pinning method employed by CertPatrol turned out to be quite error-prone & tedious to manage, I wouldn't do that part.

These days servers can do certificate pinning via [HSTS](https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security), and there's also [Certificate Transparen

[2018-12-25 18:58] tg-x commented on #20
Can't reproduce this on the mentioned sites.
However, I just noticed that it does not work on https://addons.mozilla.org :
the extension icon does not appear and the menu item is disabled

[2018-12-25 19:38] april commented on #20
All extensions are forbidden from running on addons.mozilla.org for security purposes.

If you go to https://addons.mozilla.org./, you should be able to see it.  :)

[2018-12-25 20:48] rugk commented on #23
HSTS only covers the fact that browsers do connect via HTTPS, not HTTP. You probably meant HPKP. With it, you can really pin the cert, or to be exact: the hash of the public key of the cert.

[2018-12-25 21:47] hardfalcon commented on #23
Faked HPKP headers should never be abused by a browser addon to implement the behaviour requested by unit309. First, some browsers are considering removing HPKP support altogether because even without browser addons faking HPKP headers, a sizeable fraction of webmasters/server admins seem to shoot themselves into the foot by using HPKP in ill-conceived ways, and second, browsers to not offer any U

[2018-12-31 20:32] april commented on #24
What do you think should be visible on the dropdown? I think most people are using this because they want to see the full certificate, but I honestly don't have any metrics on the matter.

[2019-01-03 03:18] Riajyuu commented on #24
@april
because Firefox Android has limited ability to view certificate compared to Chrome for Android.
Perhaps make an Android branch that has pageactoon dropdown?

[2019-01-11 08:55] glawrence commented on #2
I have just seen this at https://docs.microsoft.com/ was going to report as advised but you are ahead of me!

[2019-01-11 08:55] glawrence commented on #3
I have just seen this at https://docs.microsoft.com/ was going to report as advised but you are ahead of me!

[2019-02-18 18:19] ealashwali opened #25 "Question: On TLS info."
Thanks for this nice tool. Just a simple question plz: When you extarct TLS info (e.g. certificates, or anything else) which headers you are considering exactly?

For example, when I tested FF webRequest.getSecurityInfo on the following URL: `https://yahoo.com`. There are several automatic redirect occurs in my browser untill the URL bar lands on: `https://uk.yahoo.com/?p=us&guccounter=1`. For eac

[2019-02-19 07:31] rugk commented on #25
No [HTTP headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers) are ever considered. TLS info is extracted from the certificate that is sent. And this is send _before_ any things from HTTP, including headers, are sent.

[2019-02-19 08:49] ealashwali commented on #25
Thanks. Even the first part (under the title "handshake")? Is this in the certificates?
But even the certificates is received per header s I am receiving the chains repeatedly. I just want the certificate of the embarked URL. For example, to extract the certs. chain, I get them from securityInfo.certificates, but the `webRequest.SecurityInfo`, which according to the [documentation](https://develop

[2019-02-19 08:52] ealashwali commented on #25
So if you do not use
`webRequest.onHeadersReceived` what do you use?

[2019-02-19 09:50] rugk commented on #25
No, that is part of the [handshake](https://en.wikipedia.org/wiki/Transport_Layer_Security#TLS_handshake). https://tls.ulfheim.net/ is a nice explanation/illustration of the whole process.

[That's easy to find out.](https://github.com/april/certainly-something/search?q=webRequest&unscoped_q=webRequest)

Yes, but this does not mean it's received inside of the headers. HTTP is a layer on top of TLS

[2019-02-19 10:07] #25 closed

[2019-02-27 15:57] april commented on #24
I'm going to close this, because I don't think I'm going to fix it. PageActions don't show enough information to disable a full certificate chain, and the small size is part of why the Firefox certificate viewer is so hard to use.

[2019-02-27 15:57] #24 closed

[2019-02-27 22:47] exturingmachina commented on #4
Hello, would it be okay if I start working on this? Any suggestions of how I should go about it are appreciated. Thank you.

[2019-02-27 22:50] akshithashetty commented on #3
Hi , I would like to start working on this one. Could you please guide me on getting started?

[2019-02-28 05:46] Panto1212 commented on #2
Hey April, this looks interesting. I request to be assigned to this please. Thanks

[2019-02-28 09:15] pavithra-es commented on #19
I'd like to work on this.

[2019-02-28 09:27] twisted-sres commented on #2
Hey, can I take this up? I am an outreachy applicant.

[2019-02-28 14:22] monikamaheshwari commented on #4
Hi, want to work on this issue.

[2019-02-28 14:59] april commented on #19
Sounds great! Go for it!

[2019-02-28 14:59] april commented on #4
@exturingmachina, do you still want the issue? Otherwise, @monikamaheshwari can take it on.

[2019-02-28 15:00] april commented on #3
https://support.microsoft.com/en-us/help/287547/object-ids-associated-with-microsoft-cryptography has some good documentation on the certificate OIDs, and Censys can help you find them.  :)

[2019-02-28 15:01] april commented on #2
@Panto1212, did you still want this? Otherwise, @twisted-sres can take it on it looks like.

[2019-02-28 15:33] Panto1212 commented on #2
Yes I do please

[2019-02-28 16:11] exturingmachina commented on #4
Yes, I want to work on it.

[2019-02-28 16:26] twisted-sres opened #26 "Improve README to include installation instruction for web-ext"

[2019-02-28 16:33] twisted-sres commented on #26
Running 'npm install --global web-ext' helps us install web-ext globally. Instead of keeping the repo link for web-ext, we can keep this command and just a single line description about what web-ext is (A command line tool to help build, run, and test web extensions), so that it won't cause much confusion for the beginners. We can keep the repo link also as "For more details, refer to this repo li

[2019-02-28 16:37] twisted-sres commented on #26
@april , let me know how if you like the suggestion, I will create a PR. Thanks :)

[2019-02-28 17:23] twisted-sres commented on #2
Hey, what are the steps to reproduce this? Where is this actually not supported?

[2019-02-28 18:03] twisted-sres opened #27 "Support extension OID 1.3.6.1.4.1.311.21.2"
Just like #19

[2019-02-28 18:04] twisted-sres commented on #27
@april I am an Outreachy applicant, let me know if I could take this up

[2019-02-28 18:06] twisted-sres opened #28 "Support extension OID 1.3.6.1.4.1.311.21.1"
@april I am an outreachy applicant, let me know if I could take this up

[2019-02-28 18:06] twisted-sres commented on #28
Just like #19

[2019-02-28 18:10] april commented on #26
Sure, it's a fine idea and I would gladly accept it, but I don't think this is really sufficient to count as fixing a bug for the purposes of evaluation for the Outreachy program.  :)

[2019-02-28 18:10] april commented on #26
Whoops, didn't meant to close it.  :)

[2019-02-28 18:11] april commented on #28
Works for me, but please just pick one of these.  :)

[2019-02-28 19:04] twisted-sres commented on #26
Yeah, just realised this would be nice to have while setting up the project. Working on an another bug for evaluation :)

[2019-02-28 20:12] april commented on #14
After considering this, I think it would be best if it simply linked to the SCTs in question, or at least information about the particular SCTs.

[2019-02-28 20:32] nikk15 commented on #14
Hi @april. Another of the Outreachy masses here! May I please give this issue a go? I'm still getting familiar with the code base, so if you have any helpful hints on where to start that would be most welcome. Cheers!

[2019-03-01 06:31] monikamaheshwari commented on #27
@april I am an outreachy applicant, can I work on this issue

[2019-03-01 06:53] Paarmita commented on #28
Hey, @april Can I take this one as my first contribution to certainly-something?

[2019-03-01 07:16] glawrence commented on #2
@twisted-sres if you visit https://docs.microsoft.com/en-gb/, launch "Certainly Something" and scroll to the bottom you will see a message: _"Please open up an issue at Certainly Something, noting the website and unsupported extension identifiers. Thanks!"_

So the aim is to support the OID in the title of this issue and remove the number from the message. Same applies for #3 so this message would

[2019-03-01 10:21] twisted-sres commented on #2
By launching certainly-something, do you mean opening the certificate viewer? I can't find the message at the bottom

[2019-03-01 12:12] SeverusHO commented on #3
Hey April, is this being worked on?

[2019-03-01 12:45] akshithashetty commented on #3
Yes, I am working on this one.

[2019-03-01 13:15] sudhirsaharan commented on #14
hey @april  . I am an outreachy applicant , haven't made any contributions till now . Can i work on this issue ? .

[2019-03-01 14:13] twisted-sres commented on #2
Hey @Panto1212 ,sorry I already started working on this by the time you answered. I have opened #27 and #28, you can take any one of them. Thanks:)

[2019-03-01 14:22] glawrence commented on #2
@twisted-sres yes I do mean open the certificate viewer for the Microsoft site. When I do this I see something like this:

![image](https://user-images.githubusercontent.com/1067355/53643948-4fb57e00-3c2d-11e9-97c3-6512197ed9fe.png)

Hopefully that makes sense now.

[2019-03-01 16:28] sudhirsaharan commented on #28
@twisted-sres  @Paarmita  Hey there , i am done with the setup of mozilla by following this link : https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/Build_Instructions/Windows_Prerequisites
Now for contributing on certainly something, how do i proceed with further setup process . Can you please tell , i am new to this .

[2019-03-01 19:03] nikk15 commented on #14
Hey April. I am set up, have gotten familiar with everything and am ready to dive in. But I was wondering what you had in mind? I could easily hard code a link for each CT, similar to ctlognames.js listing each name. Or point to a search URL at crt.sh. But is there a more elegant way to approach this?
Thanks in advance for any pointers :)

[2019-03-01 20:25] april commented on #28
@Paarmita Loooks like @twisted-sres took the other one, so go ahead.

[2019-03-01 20:54] asishkr123 commented on #28
@april  i am an outreachy applicant too , i need to contribute. so are you opening any new issues or  will i have to contribute to the project myself. i know i am a bit late in the application process but any help will be appreciated.

[2019-03-02 01:46] Paarmita commented on #28
@april It looks like there should be some more modification in the https://github.com/april/certainly-something/pull/29 PR as this is also an OID Certificate, so should I wait for the PR to be merged or create a new one?

[2019-03-02 01:47] MauAraujo commented on #19
Hey @april is this still taken? I figured out how to support this extension, and would like to implement it if it is available.

[2019-03-02 07:56] pavithra-es commented on #19
@MauAraujo , I'm already working on this. Seems like #27 is still open, it is similar to this one, do check it out. :)

[2019-03-02 14:05] MauAraujo commented on #19
Sorry @pavithra-es, it's just that every issue here seems taken. Thanks for pointing me out! I'll start working on that one.

[2019-03-02 14:12] MauAraujo commented on #27
Hi! @april, is it ok if I start working on this one? As I said in #19, I figured out how to implement this.

[2019-03-02 18:21] km-js commented on #9
hey @april I would like to contribute on this one being an outreachy aspirant. Can you please suggest me which code to touch?

[2019-03-02 19:51] devGeorgeOwi commented on #28
@april I know i came in a bit late, but please is there any issues that i can take on? will be expecting more issues thanks

[2019-03-02 20:06] MauAraujo commented on #11
Hi @glawrence, I think your idea would indeed make the navigation feel more natural to the user. The way I understood, I propose to add a link like this:
![quest](https://user-images.githubusercontent.com/19579265/53686955-d5036600-3cf3-11e9-8329-f5ca9b05a681.png)
Is it ok or maybe I misunderstood?
@april, if you think this would be a nice addition, please let me know so I can start working on thi

[2019-03-03 17:17] glawrence commented on #11
Hi @MauAraujo that looks great, thanks. I think the "Common Name" link would need highlight to show it was a link but yes you have captured in a picture what I was thinking, so nice job!

[2019-03-04 13:41] Paarmita opened #33 "Change `arrow` pointer to `I`pointer on selecting text"
**Current problem**
On selecting any text in the extension, the arrow pointer remains the same and doesn't change.

**Expected Behaviour**
The `arrow` icon should change to a `pointer or I` icon on selecting text, in order to show that text has been selected.

![screenrecording20190304at7](https://user-images.githubusercontent.com/26546816/53737419-7d5f2900-3eb2-11e9-854e-c58adf16c374.gif)

[2019-03-04 15:23] uimarshall commented on #33
Hi April,

I am an outreachy applicant and looking forward to contributing to this project.
I want to find out if I could work on it.

[2019-03-04 16:42] NidhiKJha commented on #26
This issue should be closed since the pr concerning this has been merged.

[2019-03-04 19:36] april commented on #33
If you want to fix this, that would be great @Paarmita. Thanks!

[2019-03-04 19:38] april commented on #27
@monikamaheshwari looks like they were the first to comment. @monikamaheshwari, do you still want this?

[2019-03-04 19:38] #26 closed

[2019-03-04 19:42] april commented on #28
@Paarmita go ahead and create a new one, although I would generally recommend that you consider using the same data structure.  :)

[2019-03-04 22:19] RizwanSyed357 opened #34 "Change arrow pointer to 'hand' pointer when selecting tab"
When  certainly-something is running in the Firefox browser, the `arrow` pointer remains an arrow pointer when clicking on the 'tab' options' (i.e. : twitter.com, DigiCert SHA2 High Assurance Server CA, DigiCert High Assurance EV Root CA (built-in root)).

It should change to a hand pointer, in order to show the user that a 'tab' option is being hovered over.

 (please see image attached to this p

[2019-03-04 22:20] RizwanSyed357 commented on #34
(I am an Outreachy applicant and would like to fix this bug please, if possible. May it be assigned to me? Cheers )

[2019-03-04 22:36] RizwanSyed357 opened #35 "Add a 'report a bug' link to the extension 'site information' box"
It would be good to add a section of text reading 'report a bug' to the certainly-something extension window (please see pic attached to this bug report) that opens in the browser. That text can link back to this Github repo, where users can also read the Readme file if they wish.

![certainly-something bug 2](https://user-images.githubusercontent.com/10325793/53767506-f6b84500-3ecd-11e9-9ff4-710c

[2019-03-04 22:37] RizwanSyed357 commented on #35
(I am an Outreachy applicant myself - I would like to work on this bug if it sits ok with you. Cheers :) )

[2019-03-04 22:56] rugk commented on #34
See also: https://github.com/april/certainly-something/issues/33

[2019-03-05 00:15] Paarmita commented on #33
@april Thanks. I will work on it.

[2019-03-05 00:17] Paarmita commented on #28
Thanks, 👍 Will create a new one then following following instructions from the previous one.

[2019-03-05 02:28] tonynguyen111997 opened #38 "When clicking download link it causes page to turn white."
Hi, I am an Outreachy applicant and I was wondering if I can be assigned this bug.

I'm not sure if anyone has already ran into this bug, but when clicking on a link it causes the page to turn white. If you press cancel on the download the page remains white.

![image](https://user-images.githubusercontent.com/36907562/53776330-95cb4580-3eaa-11e9-8f53-923928e957d6.png)
![image](https://user-images

[2019-03-05 14:03] NidhiKJha commented on #27
@April I would like to work on this issue

[2019-03-05 15:21] km-js opened #39 "Making the critical extension stand out"
By giving the critical extensions' icon some color like red can make them stand out
![screenshot_11](https://user-images.githubusercontent.com/39799586/53815256-50307a80-3f87-11e9-8e20-52d3ed7afc3e.png)

[2019-03-05 15:55] april commented on #38
Sure, go ahead and fix this. Thanks!

[2019-03-05 15:56] april commented on #39
Critical is not that critical, it's more means required than anything.

Most certificate viewers don't make it particularly stand out, and I don't think it's super necessary here. Sorry!

[2019-03-05 15:56] #39 closed

[2019-03-05 15:57] april commented on #35
I'm not sure anybody ever clicks on that ℹ️, but if you can add a Report a Bug option there that would be great. That said, as the eventual project is to integrate it into Firefox, it would no longer be an extension.  :)

[2019-03-05 16:07] april commented on #27
@MauAraujo Do you want this? It has been 4 days since @monikamaheshwari commented. If not, we can pass it off to @NidhiKJha. Thanks!

[2019-03-05 16:07] april commented on #33
Fixed in #37.

[2019-03-05 16:07] #33 closed

[2019-03-05 16:08] april commented on #4
Yes go right ahead then.  :)

[2019-03-05 16:09] april commented on #34
This was also fixed in #37.

[2019-03-05 16:09] #34 closed

[2019-03-05 16:13] outdoorsole commented on #27
Hello @april I would like to work on this issue if no one will take it -- although I see @NidhiKJha is next in line ahead of me, so if there happens to be another issue I would be able to work on, would be happy to!

[2019-03-05 16:18] monikamaheshwari commented on #27
Hi sorry for late reply. I want to do this

[2019-03-05 17:07] RizwanSyed357 commented on #35
Hi @april , I am happy to embed a Report a Bug option in the actual certificate itself then. Does that sound more useful than adding one to the window that opens immediately after the user clicks information_source  ?

I imagine this would make more sense, given recent issues/bugs that were closed were centred around the UI of the certificate itself.

[2019-03-05 17:20] april commented on #35
I don't know if it's particularly necessary, given that most people won't be reporting bugs and those that do shouldn't have too much difficulty finding the place to report them. I don't think I would want it to be on every certificate viewing page.

[2019-03-05 17:24] RizwanSyed357 commented on #35
I am happy to find another bug to work on, April.

[2019-03-05 17:33] RizwanSyed357 commented on #35
I understand. I'll make a Report a Bug option as I suggested in my first post above, then.

[2019-03-05 17:49] april commented on #9
I don't think this would be a particularly good task for an outreachy aspirant, especially given that I don't even know how I would grade connections at this point.

[2019-03-05 17:51] april commented on #27
Sorry, @monikamaheshwari, there are already so few bugs available that I couldn't keep it unclaimed for any longer.

[2019-03-05 18:01] MauAraujo commented on #27
So @april, is it alright if I start working on this? I am available and could start implementing it right away.

[2019-03-05 18:08] april commented on #27
Yes please, go ahead.

[2019-03-05 18:09] april commented on #20
Closing this because it can't be reproduced.  :)

[2019-03-05 18:09] #20 closed

[2019-03-05 18:36] NidhiKJha commented on #27
My apologies. But I had already started to work on this and opened a PR when @april  commented it last time and @MauAraujo  you didn't reply.

[2019-03-05 19:01] MauAraujo commented on #27
@NidhiKJha Sorry if I didn't reply right away, but I was waiting for @april to assign the issue since @monikamaheshwari commented immediately after and she was the first to claim this. However, I believe that I was next in turn to work on this, and I would have liked that to be respected as I did the same. Any thoughts on this @april ?

[2019-03-05 19:26] april commented on #27
@MauAraujo Go ahead and submit a PR as well. I'll likely only accept one, but it will give a good point of evaluation.

[2019-03-05 21:06] april commented on #14
I think simply linking to the policies of the CT operator (cloudflare, google, etc.) is probably the best way to go. In that case, I would hard-code it in a configuration file. ctlognames.js is programatically generated, not hardcoded.  :)

[2019-03-05 21:10] nikk15 commented on #14
Thanks very much @april! I will work on this :)

[2019-03-05 21:50] RizwanSyed357 opened #41 "All elements under two-line left-side value shift downwards"
Whenever the user's pointer hovers over a row whose left-side value is two-lines long, all the elements beneath that row move down slightly.

This can be a bit annoying when you are scrolling and looking at multiple elements quickly.

See this gif:

![githubbug-2019-03-05_21 41 51](https://user-images.githubusercontent.com/10325793/53839915-a35afb00-3f90-11e9-983b-84f44b56917c.gif)

[2019-03-05 21:51] RizwanSyed357 commented on #41
(Obviously - would like to do this myself as an Outreachy applicant.)

[2019-03-05 21:57] RizwanSyed357 commented on #35
Hi @april  , I have given this some thought and would prefer to work on something that might help, even in a small way.  May you please close this issue? I have posted another one that I would prefer to work on.

[2019-03-05 22:08] rugk commented on #35
Is this even possible to solve this issue in a Firefox add-on/WebExtension?
Without it being integrated into Firefox, it cannot show anything thee.

[2019-03-05 22:14] nikk15 commented on #14
Quick question - as it might be a longer issue to source all the sites, is it possible to please be assigned this issue? Thanks again!

[2019-03-05 22:50] april commented on #35
I didn't think it was possible, but I assume that @RizwanSyed357 had checked to see before they offered.  :)

[2019-03-05 22:50] #35 closed

[2019-03-06 07:18] asraqadri opened #44 "When scrolling down Certificates panel does not stick on top"
When scrolling Certificates panel does not stick on top. Instead of scrolling up to switch between sub-header I think if we stick the certificate panel on top it will look good and easy to navigate between sub-headers.

![output_4qevri](https://user-images.githubusercontent.com/46629032/53862563-c5df2980-400d-11e9-8353-047ab9ba72b5.gif)

[2019-03-06 07:21] asraqadri commented on #44
As I am an Outreachy applicant I would like to do this myself.

[2019-03-06 15:19] karansapolia commented on #4
Hey @exturingmachina! Are you still working on this one? I want to work on this if its available.

[2019-03-06 15:34] exturingmachina commented on #4
I'm still working on it. It was assigned yesterday :)

[2019-03-06 21:05] april commented on #44
It does already do this, but it depends on the size of your viewport. That div is already marked with `position: sticky`.  :)

<img width="1281" alt="screen shot 2019-03-06 at 3 05 11 pm" src="https://user-images.githubusercontent.com/230528/53913583-4bb8a000-4021-11e9-900a-729799a2e788.png">

[2019-03-06 21:05] #44 closed

[2019-03-07 06:16] monikamaheshwari commented on #4
Hey after @exturingmachina I would like to work on it.

[2019-03-08 12:13] noahwalugembe commented on #28
Hi @april i have came in a bit late, and i cant find any bug to solve. Is it okay for you to help me out.
I really want to contribute.

[2019-03-08 20:09] noahwalugembe commented on #28
@april are you opening any new issues soon. i know i am a bit late in the application process but any help will be appreciated.

[2019-03-09 06:11] noahwalugembe commented on #41
Am sorry to ask this how did you get to this GUI https://user-images.githubusercontent.com/10325793/53839915-a35afb00-3f90-11e9-983b-84f44b56917c.gif

I can only run the code but not be able to access the GUI pleas guide me out

[2019-03-09 06:14] noahwalugembe commented on #28
@april Can i also work on this issue Support extension OID 1.3.6.1.4.1.311.21.1 or i can wait for new issues

[2019-03-09 06:37] noahwalugembe commented on #2
Is this issue still open some some one else to contribute on

[2019-03-09 07:57] monikamaheshwari opened #47 "Tab bar has one vertical line on the left side and no line on right side"
Just a small display fix. The design should be consistent. As I am outreachy applicant so I would like to solve this issue.

![Screen Shot 2019-03-09 at 1 19 06 PM](https://user-images.githubusercontent.com/17271005/54068057-06d57900-426e-11e9-90d7-5c6363e0b91e.png)

[2019-03-09 13:05] noahwalugembe commented on #9
Hi @april .
I believe i can work on this can i go on.

[2019-03-09 18:47] april commented on #9
I don't even know how I would do this. If you want to write up a proposal I could certainly take a look at it, but the scope of this is probably far beyond any other bug.

[2019-03-09 19:12] noahwalugembe commented on #9
@april Oky April i am going to make a write up I just finished setting up. This commands{
$ npm run-script watch
$ web-ext run --browser-console -s build --start-url 'https://badssl.com/'}
are working  but i don't Know how to access the graphical user interface for certainly-something
some thing like this blow{
https://camo.githubusercontent.com/1b437f9f8565cca863b268f2720163c09c997173/68747470733

[2019-03-11 08:27] noahwalugembe commented on #9
I have created the proposal for grading quality of TLS connection. Pleas allow me to work on it.

[Proposal.pdf](https://github.com/april/certainly-something/files/2951280/Proposal.pdf)

[2019-03-11 08:29] noahwalugembe commented on #9
@april I have created the proposal for grading quality of TLS connection. Pleas allow me to work on it.

[Proposal.pdf](https://github.com/april/certainly-something/files/2951280/Proposal.pdf)

[2019-03-11 08:30] noahwalugembe commented on #9
@april I have created the proposal for grading quality of TLS connection. Pleas allow me to work on it.

[Proposal.pdf](https://github.com/april/certainly-something/files/2951280/Proposal.pdf)

[2019-03-11 09:37] rugk commented on #9
So you want to use HTTP Observatory. The things I see here:
* privacy impact: the user has to know their domain is sent to a third-party service
* more analysis: HTTP Observatory analyses more than just HTTPS. (it's a big part, but it also takes HTTP headers etc. into account) So this can be a little misleading...

And personally, I still consider this out of scope of this add-on. It would possibl

[2019-03-11 10:57] noahwalugembe commented on #9
Hi @april  I believe we can prompt a user reject or allow us send his or her domain name to a third-party service.
So far i have most of the code working and and i can start making commits it wont cost me much time to accomplish.
Pleas allow me  do this task.

[2019-03-11 11:26] rugk commented on #9
I am not @april I am just watching this repo as I like the add-on giving my two cents. So let's first see what @april actually says...

[2019-03-11 14:23] april commented on #9
The HTTP Observatory doesn't do any grading of TLS, nor does the TLS Observatory. Nothing in this proposal would address the request in the issue, @noahwalugembe.

Sorry, I don't think this issue is at an appropriate complexity level for you to address.

[2019-03-11 14:46] noahwalugembe commented on #9
Thank april for your advise. Is it okay if i can ask you to get form me some new bugs which i can work on this week. Pleas give me a hand. I really need to contribute so as to qualify for internship with outreachy.
I will my pleasure to  work with you on this project.

[2019-03-12 17:39] april commented on #47
Sure, that would be great.

[2019-03-12 17:39] april commented on #41
Sure, go ahead and send a PR.  :)

[2019-03-12 18:58] noahwalugembe commented on #41
I have got this response in my mail can i work on it or its for RizwanSyed357

[2019-03-12 19:00] RizwanSyed357 commented on #41
@noahwalugembe  go ahead and solve it. I am working on other things now. Wish you all the best.

[2019-03-12 19:02] noahwalugembe commented on #41
Thanks @RizwanSyed357

[2019-03-13 11:10] monikamaheshwari commented on #4
@april If @exturingmachina is not working on it then I would like to work on it.

[2019-03-13 11:43] noahwalugembe commented on #41
@april I have fixed the .panel-list-item css by hiding overflow. actuary at this point elements with two line sentence left or right side can't cause downer elements to shift  on mouse hover.
Can i make this as my first git commit.

/* overrides to extension.css */
.panel-list-item {
  height: inherit;
  min-height: 24px;
  cursor: text;
  overflow: hidden;
  max-height: 35px;
}

[2019-03-13 14:34] april commented on #27
@twisted-sres, when you submitted this bug, was there a website you found it in use on?

[2019-03-13 15:26] exturingmachina commented on #4
Have at it.

[2019-03-13 21:13] april commented on #41
Can I ask why the max height? But sure.

[2019-03-13 21:19] april commented on #14
Sure, yes, go ahead.

[2019-03-14 07:20] noahwalugembe commented on #41
When you resize the browser window so as to mimic mobile device screen panel-list-item with much text word-breaks or over flows hence creating more lines and this affects the div heights of over elements below. Hence resulting in effects like (div slightly shifting  from  their position  when  hovering on an element that changes size above it)

With max-height: 35px; or 40 px; I'm telling the cont

[2019-03-14 09:10] monikamaheshwari commented on #4
@april Is there any preference, where to give that upload button.

[2019-03-14 15:59] noahwalugembe commented on #41
Hi @april is this work okay

[2019-03-14 19:31] april commented on #41
Sorry, but I'm afraid having scrollbars for an individual field is a very poor experience. It should work the same as now but without the slight shifting upon hovering.

[2019-03-14 19:57] #41 closed

[2019-03-14 20:05] noahwalugembe commented on #41
Okay let me work on it again

[2019-03-14 20:57] noahwalugembe opened #49 "Direct people on how to access the certificate viewer web page"
Hi @april .
One of the challenge i faced previously with certainly-something documentation was to figure out on how to access the certificate viewer web page after  runing

 {
$ npm run-script watch
$ web-ext run --browser-console -s build --start-url 'https://badssl.com/'
}

is it okay if i can add this instruction{

After $ web-ext run --browser-console -s build --start-url 'https://badssl.com/'

[2019-03-14 21:01] april commented on #49
In general, people who are going to be developing with the extension will already know how it is and how to use it. I don't think this is necessary, sorry.

[2019-03-14 21:01] #49 closed

[2019-03-14 21:07] noahwalugembe commented on #49
Okay @april am really trying to search for a new thing to work on and if you get any new bug on your side pleas extend it to me again

[2019-03-14 21:13] april commented on #4
I would probably add it to a right-click submenu of the `pageAction` by using `contextMenus` with a `page_action` context type. I haven't done it personally, but I believe it is possible and is probably the best route.

[2019-03-14 21:22] noahwalugembe opened #50 "Extension header alignment"
Its like the extension header is not aligned wall. Is it some thing that can be adjusted

![image](https://user-images.githubusercontent.com/27782388/54392248-30503380-46b8-11e9-97a0-fe727d970f7a.png)

[2019-03-15 16:06] monikamaheshwari commented on #4
I have added like this :
![Screen Shot 2019-03-15 at 9 35 14 PM](https://user-images.githubusercontent.com/17271005/54445233-59c99780-476a-11e9-8cdd-ce5ee36d67c8.png)

Is this correct?

[2019-03-16 15:23] monikamaheshwari commented on #41
Hi, I was trying to solved this problem and have solved it without affecting existing design. Let me know if I could send a PR for this :)

[2019-03-18 21:55] april commented on #50
I'm not sure I understand what you mean?

[2019-03-18 21:55] april commented on #4
That looks good to me.

[2019-03-19 03:44] monikamaheshwari commented on #4
On clicking this button what kind of action is required. Can you guide me please.

[2019-03-19 21:13] april commented on #3
See also:

https://github.com/PeculiarVentures/PKI.js/issues/223

[2019-03-19 21:14] april commented on #2
See also: https://github.com/PeculiarVentures/PKI.js/issues/223

[2019-03-19 21:17] april commented on #19
See also: https://github.com/PeculiarVentures/PKI.js/issues/223

[2019-03-19 21:18] april commented on #27
See also: https://github.com/PeculiarVentures/PKI.js/issues/223

[2019-03-19 21:18] april commented on #28
See also: https://github.com/PeculiarVentures/PKI.js/issues/223

[2019-03-20 17:15] april commented on #47
I fixed up your commit in 67c60309f9b7152ba8d77e66eb4b46572bce38af and that should close this out.  :)

[2019-03-20 17:15] #47 closed

[2019-03-20 17:18] monikamaheshwari commented on #47
Thanks :)

[2019-03-20 17:20] #50 closed

[2019-03-20 17:31] april commented on #4
I believe given the limitations of WebExtensions, you would have to open up a webpage with an input field where users could upload a file with the file picker.  :)

[2019-03-22 22:22] april commented on #2
This was fixed in ad1b88e1668299b8fb6bf80f7deecd1443df5b68.

[2019-03-22 22:22] #2 closed

[2019-03-22 22:22] april commented on #3
This was fixed in ad1b88e1668299b8fb6bf80f7deecd1443df5b68.

[2019-03-22 22:22] #3 closed

[2019-03-23 16:12] noorfathima11 commented on #14
@nikk15 are you still working on this?

[2019-03-23 16:13] noorfathima11 commented on #15
Can I take up this issue? I have already done one submission, like to do more.

[2019-03-23 16:22] noorfathima11 commented on #11
@MauAraujo are you still working on this?

[2019-03-23 16:37] nikk15 commented on #14
@noorfathima11 I started working on something else when I didn't hear back. Thanks for asking. Please go ahead! :)

[2019-03-23 16:38] noorfathima11 commented on #14
Thank you so much.

[2019-03-23 16:40] MauAraujo commented on #11
Yes, I am still working on this.

[2019-03-24 00:28] SSK1981 opened #53 "Unsupported Extension Identifiers"
These extension IDs were posted as unsupported:
1.3.6.1.4.1.311.21.7
1.3.6.1.4.1.311.21.10

  Noticed after going to URL https://go.microsoft.com/fwlink/?LinkId=691209 which was to download the Microsoft's Media Creation Tool  in order to make a boot able (backup) USB drive (per decentsecurity.com's "securing-your-computer" recommendation). Strange thing was that I got the message "Hmm. We’re havi

[2019-03-24 10:06] glawrence commented on #11
@noorfathima11 this is in PR #36 which I think is almost complete, which is good

[2019-03-26 16:50] april commented on #53
Hey, thanks @SSK1981. This is a duplicate of #2 and #3, which are already fixed. Once I get a chance to publish the next version of the add-on, they should show up in the viewer.

Thanks!

[2019-03-26 16:50] #53 closed

[2019-03-28 21:38] april commented on #11
This was fixed in #36.

[2019-03-28 21:38] #11 closed

[2019-03-28 21:39] april commented on #15
I think this one is probably a bit out of scope, especially given that I'd have to do a lot of work to figure out what the qualified logs are.  :)

[2019-03-29 11:33] pendantVertex commented on #15
Actually I am close to figuring that out.

[2019-03-29 11:35] noorfathima11 commented on #15
Actually I am close to figuring it out.

[2019-03-29 21:52] SSK1981 commented on #53
Hi April,

   You got a good product going. Thanks for Certainly Something. I saw one
of your videos where you were being interviewed and remember liking what I
heard you say. Please keep up the good work! You know what?  Ah, I couldn't
wait until April 2nd to reply to your email but you probably have a boy
friend already  plus not sure what city you might live in! :-)  Cute pic
with the war paint

[2019-03-29 22:08] SSK1981 commented on #53
*Hi April* - *Just in case* -

*   This is not a duplicate email of the email I first sent you regarding
this subject (in reply to your Github status update). Please see below with
attached file. *

On Fri, Mar 29, 2019 at 2:51 PM Samuel Katagi <fusionh2@gmail.com> wrote:

[2019-04-01 23:10] noorfathima11 commented on #14
Hey @april . I have solved this bug.
![image](https://user-images.githubusercontent.com/7704614/55365215-56bbfe80-5501-11e9-8a86-26c15ceb8928.png)

[2019-04-10 21:53] #19 closed

[2019-04-17 18:16] april opened #56 "Support extension OID 1.3.101.77"
As seen on:
https://invalid-expected-sct.badssl.com/

[2019-04-17 21:48] #27 closed

[2019-04-17 21:52] april opened #57 "Extended key usages are missing 1.3.6.1.4.1.311.* and 1.3.6.1.4.1.16082.2.3.*"
As well as a bunch of other obscure Microsoft key usages.

[2019-04-19 17:01] #57 closed

[2019-04-22 06:21] monikamaheshwari commented on #56
Can I work on this issue?

[2019-04-22 14:55] april commented on #4
Fixed in dd43a1e3488c29e488742690b3a3fd6711304103.

[2019-04-22 14:55] #4 closed

[2019-04-22 19:05] #28 closed

[2019-04-22 19:53] #56 closed

[2019-05-06 19:23] PeopleInside opened #58 "Still not working also on Firefox 66 (Android)"
The extension is no more working on Firefox 66.
Is installed but no options is showed to check the certificate.
https://bugzilla.mozilla.org/show_bug.cgi?id=960447#c14

[2019-05-06 21:04] PeopleInside commented on #58
Seems the bug was introduced in the version 1.2.0 the version 1.1.2 works
https://bugzilla.mozilla.org/show_bug.cgi?id=960447#c19

[2019-06-05 17:14] april commented on #58
I'm working this now, sorry for the delay!

[2019-06-05 17:24] april opened #59 "Support for OID 1.3.6.1.5.5.7.1.3 (qcStatements)"
These are used in the EU for some things, I guess?

[2019-06-05 18:40] PeopleInside commented on #58
@april  Thank you!

[2019-06-05 19:56] rugk commented on #59
Potentially relevant:
* https://bugzilla.mozilla.org/show_bug.cgi?id=277797
* https://oidref.com/1.3.6.1.5.5.7.1.3

[2019-06-05 19:57] april commented on #59
And the dependent bug:
https://github.com/PeculiarVentures/PKI.js/issues/231

[2019-06-06 18:43] april commented on #58
Okay, this has been fixed in version 1.2.3. Sorry for the delay!  :)

[2019-06-06 18:43] #58 closed

[2019-06-06 19:17] PeopleInside commented on #58
Thank you very much @april

[2019-06-06 19:21] april commented on #58
You're very welcome. Could you let me know if things are working (or not working) for you? Thanks!

[2019-06-06 19:24] PeopleInside commented on #58
Umh... just install the extension here: https://addons.mozilla.org/en-US/firefox/addon/certainly-something/ ?
I was using a previous version, seems it's working.. i believe :) Seems you have done a great job ;-)

I love your avatar and smile :) thanks again!

[2019-06-06 19:25] april commented on #58
Peeeeeerfect, thank you! And thanks.  :)

[2019-06-19 10:03] pysiak opened #60 "Support for OID 2.16.840.1.113730.1.13"
Hi,

I'm seeing this one on my company generated certs: https://oidref.com/2.16.840.1.113730.1.13
It's "Netscape certificate comment"

An X.509 v3 certificate extension used to include free-form text comments inside certificates.

Does that make sense?

[2019-06-22 18:12] april commented on #60
Awesome, thank you! Do you happen to have a copy of the certificate, or does it exist in the CT logs at all?

[2019-06-24 10:36] pysiak commented on #60
Not in CT, but I can share.
I'll be doing a new one because of Chrome signalling lack of subj alt names...

-----BEGIN CERTIFICATE-----
MIIEyDCCA7CgAwIBAgICTxAwDQYJKoZIhvcNAQELBQAwgdsxCzAJBgNVBAYTAlVT
MRcwFQYDVQQIDA5Ob3J0aCBDYXJvbGluYTEMMAoGA1UEBwwDUlRQMRgwFgYDVQQK
DA9HbGF4b1NtaXRoS2xpbmUxJjAkBgNVBAsMHUdTSyBTU0wgQ2VydGlmaWNhdGUg
QXV0aG9yaXR5MTYwNAYDVQQDDC1HU0sgMjA0OC1iaXQgU0hBMjU2IFNTTCBDZXJ0
aWZp

[2019-06-26 12:04] pysiak commented on #60
Does that help?

[2019-06-27 20:18] april commented on #60
Yep, that's perfect! Thanks!

[2019-07-12 17:24] FranklinYu commented on #9
The grading is both subjective and transient (what is secure now may not be secure in 2 years). I don’t think this function is in scope of the project.

[2019-07-12 17:33] FranklinYu opened #62 "Link to crt.sh and Censys"
https://crt.sh

https://censys.io

Maybe also link to Mozilla Observatory?

[2019-07-12 17:46] rugk commented on #62
Duplicate of https://github.com/april/certainly-something/issues/14

[2019-07-12 17:55] FranklinYu commented on #62
I have read some discussion in #14. I guess the proposed solutions works well for the purpose of SCT details, but I would simply like to view the certificate on crt.sh (or simply have a link for me to share with my friends). I think crt.sh won't be covered in #14.

[2019-09-15 16:09] grahamperrin opened #64 "Allow Certainly Something to work where there's a warning"
At https://codal.ir/ReportList.aspx?search for example:

![image](https://user-images.githubusercontent.com/192271/64924337-4e1f6200-d7db-11e9-8303-503a3841c24f.png)

– the button is noneffective.

(There's the in-page link to the viewer that's integral to Firefox, but it'll be smart to also allow the Certainly Something view.)

[2019-09-17 04:27] tsekityam opened #65 "Bank page was shown when I view the cert at https://www.gov.hk"
I can view the detail of the cert of https://www.gov.hk with Firefox built-in cert viewer, but not certainly something.

[2019-09-29 17:43] Fanolian commented on #65
Same for https://www.hko.gov.hk/contente.htm.
This also exhibits on the new certificate viewer (about:certificate) in Nightly. It says:

We were unable to find the certificate information, or the certificate is corrupted. Please try again.

p.s. Issue title should be _Blank_ page instead of _Bank_.

[2019-10-31 18:03] jcjones opened #66 "Support for 1.3.6.1.4.1.44363.44 - Delegated Credentials"
OID [`1.3.6.1.4.1.44363.44`](https://tools.ietf.org/html/draft-ietf-tls-subcerts-04#section-3.2) is a draft ietf standard ([draft-ietf-tls-subcerts/](https://datatracker.ietf.org/doc/draft-ietf-tls-subcerts/)) which would be nice to simply decode to `DelegationUsage` or perhaps something like `Credential Delegation authorized for compatible web servers`.

https://dc.crypto.mozilla.org/ leads to a

[2020-01-26 15:58] rugk opened #68 "Is this extension still useful with Firefox 71?"
It seems your add-on/the whole thing has been included in Firefox 71?

https://www.ghacks.net/2019/08/27/firefox-71-has-a-new-certificates-viewer/

So is this still useful/is there any advantage?

If yes: Could you please describe what? Maybe best also state/adjust that in the Readme, AMO description etc.
If not: Could you somehow deprecate this add-on? AMO description & Readme again. Possibly ano

[2020-01-26 16:02] rugk commented on #68
BTW the only difference I see is that _with_ that add-on you have 1 click to get to the certificate viewer, otherwise you need to go through a menu. :smiley:

Maybe the add-on can be simplified to still provide that feature though then? I guess it could just open the Firefox-internal page, on click of the button?

[2020-01-29 13:08] april commented on #68
There's not a ton of uses for the add-on anymore, other than quick access to certs and the ability to upload a certificate or certificate chain to view.  :)

[2020-02-12 21:38] jcjones commented on #66
Moved to https://bugzilla.mozilla.org/show_bug.cgi?id=1615069

[2020-02-20 23:29] ZackBoe commented on #68
+1 to have the ability/option to direct to the built in version from the extension's address bar icon!

I really find it useful to have one click access to a site's certificate info as opposed to several clicks and dealing with the page info window - although I do love the built in version's dark mode.

I super briefly looked at creating a quick browser action extension to pop up `about:certificat

[2020-02-21 07:16] crssi commented on #68
I still find the extension useful because of easy access to information's.
Also the handshake is better presented.

[2020-03-08 15:41] publicarray commented on #68
Thanks for the extension 👏

Both the extension and inbuilt viewer in the browser uses the American date format. Can this me changed to something more universal or can it be fixed so it matches with the appropriate locale?

[2020-03-08 22:06] rugk commented on #68
Maybe do open an issue both in… this repo… and on bugzilla, then.(?)

[2020-03-10 00:14] publicarray commented on #68
https://bugzilla.mozilla.org/show_bug.cgi?id=1601841

[2020-08-27 04:47] jegan019 opened #69 "How to parse the rawDER from certificateInfo"
Hi April, I am working on an extension that automatically downloads certificates. I am using Mozilla's TLS API and I am having trouble parsing the rawDER attribute of the webRequest.CertificateInfo object. I saw that you had mentioned (https://bugzilla.mozilla.org/show_bug.cgi?id=1322748) using PKI.js to parse through the DER.  Can you please point me to the area in your code or guide through the

[2020-08-27 08:57] jegan019 commented on #69
An update, I found the relevant code in the viewer folder. I am mainly trying to get a PEM certificate based on the rawDER.
From what I am seeing in your code, you are not using PKI.js to convert this to a PEM file.

The steps are as follows:
1) For each certificate in the chain you are taking the rawDer (array of numbers) and converting it to an unsigned 8 bit integer array. This new array is con

[2020-08-28 08:20] jegan019 commented on #69
So I have a solution. This solution of mine is based on april's code. This is for anyone's future reference.

You can create a downloadable link which contains the PEM file through the rawDER.

The steps below are to create a pem file for the certificate chain.

`let chain = securityInfo.certificates; // securityInfo is the object returned by webRequest.getSecurityInfo`
`let builtChain = chain.map

[2020-08-28 08:20] #69 closed, assigned to nobody

[2020-10-04 16:07] KrasnayaPloshchad commented on #68
This is still useful on Firefox for Android Nightly, if you add this extension following their [instructions](https://blog.mozilla.org/addons/2020/09/29/expanded-extension-support-in-firefox-for-android-nightly/).

[2020-10-17 16:50] fakuivan opened #70 "Not compatible with Firefox Daylight on Android"
I used to use this extension to check the validity of certificates on Firefox for Android, that as far as I know does not provide a way to manage https exceptions. Would it be possible to update this to work with this version of Firefox

Version info:
[code]

[2021-03-26 07:25] ghost opened #71 "Not working on twitter.com"
A message appears saying: Please refresh the page and try again.

[2021-03-26 08:40] crssi commented on #71
Hmmm... here it opens just fine.

![Capture](https://user-images.githubusercontent.com/17024151/112605192-f077c700-8e0e-11eb-90f7-293ccab9dd2f.PNG)

[2021-03-26 09:34] captn3m0 commented on #71
Doesn't work for me on Twitter.com as well. I see the following error (on the extension console), but that shows up even otherwise sometimes.

[code]

[2021-03-26 09:36] captn3m0 commented on #71
@8ortiz4 Do you have the [Twitter Container extension](https://github.com/v1shwa/contain-twitter) installed? Disabling it seems to fix the issue.

[2021-03-26 10:57] ghost commented on #71
Nope. I haven't @captn3m0

[2021-06-14 11:29] Gunni commented on #10
Digging up an ancient ticket, i know, sorry... But I just noticed that BIMI uses `1.3.6.1.5.5.7.1.12`.

https://datatracker.ietf.org/doc/draft-blank-ietf-bimi/

Example record with cert:
[code]

Just letting you know, i have no stake or need for the support, just noticed this today and thought it was interesting. 🤓

[2022-03-21 10:09] javigarvil opened #72 "Don't show anything with intranet domains"
If I access any page not published to the world (an intranet webpage) it appears a white page without printing any data.

[2022-04-14 20:14] egberts commented on #10
The breakdown of the `Logotype` is detailed in in this RFC 3709 Section 4.1 [id-pe-logotype OID](https://datatracker.ietf.org/doc/html/rfc3709#section-4.1)

Python has an ASN1 module that can parse this OID RAW data.  https://github.com/etingof/pyasn1-modules/blob/master/pyasn1_modules/rfc3709.py